.contain {
    display: flex;
    /* align-items: right; */
    justify-content: right;
}

nav {
    /* justify-content: right; */
    font-size: 25px;
    margin-left: 1300px;
    height: 35px;
    width: 500px;
    padding: 20px;
}

.container {
    /* display: flex; */
    /* text-align: center; */
    
    text-align: center;
    margin: 275px 0;
}

.googleLogo img {
    /* flex-direction: column; */
    /* margin: 0 auto; */
    min-width: 400px;
}

.searchBox {
    min-width: 400px;
    margin: 35px;
    /* padding-top: 20px; */
}

.textArea {
    font-size: 30px;
    padding: 5px;
    height: 45px;
    width: 750px;
    border-color: rgba(153, 149, 149, 0.829);
    border-radius: 45px;
    outline: none;
}